<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-sobre-list" data-toggle="list" href="#sobre"
							role="tab" aria-controls="spring-boot">Sobre</a>
						<a 	class="list-group-item list-group-item-action" 
						    id="list-andaimes-list" data-toggle="list" href="#andaimes" 
						    role="tab" aria-controls="sts">Andaimes</a> 
						<a class="list-group-item list-group-item-action" 
						    id="list-escoramentos-list" data-toggle="list" href="#escoramentos"
							role="tab" aria-controls="thymeleaf">Escoramentos</a> 
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="sobre"
							role="tabpanel" aria-labelledby="list-sobre-list">
							<a href="https://projects.spring.io/spring-boot/">Sobre</a>
							orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt massa ac magna lobortis, 
							vel tincidunt dui gravida. Aenean eget purus erat. Aenean aliquet, erat id maximus bibendum, 
							neque nisl egestas ex, at varius nisi eros eget arcu. Ut mattis odio enim, placerat sollicitudin
							 massa cursus id. Aenean maximus lacus ut tortor congue volutpat. Praesent facilisis arcu ullamcorper 
							 nulla pretium, ac finibus nisi tristique. Nullam varius tempus suscipit. Suspendisse libero enim, 
							 viverra quis lacinia non, blandit sit amet dui. Donec ac dignissim ligula. Fusce at magna odio. 
							 Curabitur sit amet turpis eu nibh dictum sodales.  Sed a varius eros, non feugiat lacus. 
							 Curabitur et luctus augue, eget mattis justo
						</div>
						<div class="tab-pane fade" id="andaimes" role="tabpanel"
							aria-labelledby="list-andaimes-list">
							The <a href="https://spring.io/tools">Andaimes</a> Mauris vehicula, velit non feugiat lacinia, justo libero 
							cursus eros, quis bibendum ex metus non mauris. Aenean id elit quis tortor pulvinar fermentum quis eu nibh. 
							Aenean arcu dolor, euismod vitae consectetur nec, commodo vel nisi. In hac habitasse platea dictumst. 
							Vivamus ut quam at nisl venenatis porttitor. Nulla lectus magna, facilisis non fermentum sit amet, dapibus ac 
							libero. Cras non erat eu odio luctus aliquet ac sed diam. Duis pellentesque tristique malesuada. 
							Praesent vulputate risus nulla, id iaculis elit dapibus at. In velit velit, congue id odio ut, 
							maximus porta mi. Aliquam a mollis augue. Praesent efficitur ut odio nec dictum. Praesent et libero at 
							eros ornare sagittis in eu ante. Phasellus egestas augue ligula, id viverra risus convallis vitae. 
							Ut id mauris bibendum mi consectetur pellentesque non eu nulla. Donec sapien risus, imperdiet at 
							pellentesque eu, dignissim in neque.
						</div>
						<div class="tab-pane fade" id="escoramentos" role="tabpanel"
							aria-labelledby="list-escoramentos-list">
							<a href="http://www.thymeleaf.org/">Escoramentos</a> Quisque id elit quis odio vulputate ornare vitae eget mi. 
							Mauris vel facilisis metus, a egestas ex. In dictum urna a turpis auctor, eget mattis tellus rutrum. Pellentesque 
							non ante id nisl varius hendrerit at eget turpis. Ut libero tortor, dictum in urna in, tempor malesuada odio. 
							Aenean aliquet id erat quis bibendum. Aenean lacinia lectus eget facilisis convallis. Morbi condimentum, diam 
							eget placerat pellentesque, sem ex gravida nibh, quis tincidunt nunc tortor ac magna. Vestibulum hendrerit mauris 
							risus, vitae malesuada lectus rutrum ut. Pellentesque mattis viverra lorem, a semper orci.
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>